
@{
    ViewBag.Title = "Hata";
}

<div class="alert alert-danger" role="alert">Bu işlemi yapmak için yetkiniz yoktur!</div>

<div class="col-md-12">
    <img height="300" width="300" src="https://vignette.wikia.nocookie.net/gtawiki/images/9/96/Lock.png/revision/latest?cb=20141101143614" />
</div>
